
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
 <!-- ##################### Slider Starts Here #################### -->
 
 <section class="bg-white">
  <div class="container-lg">

  <!-- product-details.component.html -->

     
   <div class="container">
     <div class="product-images-container">
       <div class="product-images-list">
         <img *ngFor="let image of imageList; let i = index" [src]="image" [alt]="'Product Image ' + (i + 1)"
              (click)="updateSelectedImage(i)">
         <!-- Ajoutez plus d'images si nécessaire -->
       </div>
     
       <div class="product-image">
         <div class="zoom-icon" (click)="toggleImageZoom()"></div>
         <img [src]="selectedImage" alt="Selected Product Image"
              [ngClass]="{'zoomed': isImageZoomed}"
              (mousedown)="startDrag($event)"
              (mousemove)="doDrag($event)"
              (mouseup)="endDrag()">
       </div>
       
     </div>
     

     
     <div class="product-info">
       <div class="circle">
           <span class="text">Sale</span>
         </div>

       <h2 class="product-title">{{ productName }}</h2>
       
       <div class="product-rating">
           <i class="fa fa-star" [ngClass]="{'filled': rating >= 1, 'fas fa-star-half-alt': rating >= 0.5 && rating < 1, 'not-filled': rating < 0.5}"></i>
           <i class="fa fa-star" [ngClass]="{'filled': rating >= 2, 'fas fa-star-half-alt': rating >= 1.5 && rating < 2, 'not-filled': rating < 1.5}"></i>
           <i class="fa fa-star" [ngClass]="{'filled': rating >= 3, 'fas fa-star-half-alt': rating >= 2.5 && rating < 3, 'not-filled': rating < 2.5}"></i>
           <i class="fa fa-star" [ngClass]="{'filled': rating >= 4, 'fas fa-star-half-alt': rating >= 3.5 && rating < 4, 'not-filled': rating < 3.5}"></i>
           <i class="fa fa-star" [ngClass]="{'filled': rating >= 5, 'fas fa-star-half-alt': rating >= 4.5 && rating < 5, 'not-filled': rating < 4.5}"></i>
           <span class="rating-text">{{ rating }}</span>
         </div>
         
         
         
         
         <label for="price" class="labelPrice">Price : </label>
         <p class="product-price" id="price">$ {{ productPrice }} </p><br><br>
         
       
       <div class="product-options">
         <!-- Ajoutez ici les options du produit (taille, couleur, etc.) -->
       </div>
       <div class="quantity-box">
         <label for="quantity">Quantity:</label>
         <div class="quantity-controls">
           <button class="quantity-decrease" (click)="decreaseQuantity()" [class.clicked]="buttonDecreaseClicked">-</button>
           <input type="number" id="quantity" name="quantity" [(ngModel)]="quantity" min="1">
           <button class="quantity-increase" (click)="increaseQuantity()" [class.clicked]="buttonIncreaseClicked">+</button>
         </div>
       </div>


       <button class="add-to-cart" (click)="addToCart()">
           <i class="fa fa-shopping-cart"></i> Add to Cart
         </button>
         <br>
       <div class="tab-container">
           <div class="tab" (click)="toggleTabContentDetails()">
             <span class="tab-title">Description</span>
             
             <i class="fas" [ngClass]="{'fa-chevron-down': showTabContentDetails, 'fa-chevron-right': !showTabContentDetails}"></i>
           </div>
           <div class="tab-content" *ngIf="showTabContentDetails">
             <!-- Contenu du tab "Features" -->

         <p class="product-description">{{ productDescription }}</p>
             <ul>
               <li><i class="fas fa-tint blue-icon"></i>  Ergonomically designed, the Dracoss purifier is easy to install on most
                 standard taps and doesn't require any additional tools.</li>
               <li><i class="fas fa-tint blue-icon"></i>   It features a high-water flow for hassle-free daily usage and a filter lifespan
                 indicator, ensuring that you never miss a filter change.</li>
               <li><i class="fas fa-tint blue-icon"></i>   Switching Option between raw water and purified water to extend the lifetime
                 of the cartridge.</li>
             </ul>

             <p>Being compact and lightweight, it seamlessly fits into any kitchen design, offering an
               eco-friendly and cost-effective alternative to bottled water. With Dracoss, you can
               hydrate with confidence, knowing you&#39;re drinking purified water and contributing to
               environmental sustainability.</p>
             
           </div>
         </div>

         <div class="horizontal-line"></div>

       <div class="tab-container">
         <div class="tab" (click)="toggleTabContentFeatures()">
           <span class="tab-title">Installation</span>
           
           <i class="fas" [ngClass]="{'fa-chevron-down': showTabContentFeatures, 'fa-chevron-right': !showTabContentFeatures}"></i>
         </div>
         <div class="tab-content" *ngIf="showTabContentFeatures">
           <!-- Contenu du tab "Features" 
           <ul>
               <li><i class="fas fa-tint blue-icon"></i>   Removes rust, harmful bacteria, and other contaminants from your tap water.</li>
               <li><i class="fas fa-tint blue-icon"></i>   Provides clean, safe, and refreshing water for drinking, cooking, and other household uses.</li>
               <li><i class="fas fa-tint blue-icon"></i>   asy to install and maintain.</li>
               <li><i class="fas fa-tint blue-icon"></i>   Switching option between Raw water and Purified water: You want to dishwash, clean vegetables & fruits… you can use the raw water, in case you want to wash your face and to drink, you can use our purified water from the filter, in this way, the lifetime of the filter will be extended.</li>
             </ul>-->
             <p>You can eastly install our product without the intervention of a professional plumber.
               Kindly Check our Installation Plan Here and our Installation demonstration video
               from <a href="" style="color: rgb(57, 161, 221);">Here</a>.</p>
         </div>
       </div>


       <div class="horizontal-line"></div>

      

       <div class="tab-container">
         <div class="tab" (click)="toggleTabContentTechnicalOverview()">
           <span class="tab-title">Technical Overview</span>
           <i class="fas" [ngClass]="{'fa-chevron-down': showTabContentTechnicalOverview, 'fa-chevron-right': !showTabContentTechnicalOverview}"></i>
         </div>
         <div class="tab-content" *ngIf="showTabContentTechnicalOverview">
           <table>
             <tr>
               <td>Product Name</td>
               <td>Dracoss Water Tap Purifier</td>
             </tr>
             <tr>
               <td>Product Size</td>
               <td>98x57x127(mm)</td>
             </tr>
             <tr>
               <td>Work Pressure</td>
               <td>1~0.4MPa</td>
             </tr>
             <tr>
               <td>Proper Temperature</td>
               <td>5℃~38℃</td>
             </tr>
             <tr>
               <td>Water Purification</td>
               <td>1L/min</td>
             </tr>
             <tr>
               <td>Filter Life</td>
               <td>3 months~ 6 months</td>
             </tr>
             <tr>
               <td>Water Quality</td>
               <td>Municipal Water</td>
             </tr>
             <tr>
               <td>Filter Element</td>
               <td>Ceramic composite</td>
             </tr>
             <!-- Ajoutez plus de lignes au besoin -->
           </table>
         </div>
       </div>
       

         <div class="horizontal-line"></div>


         <div class="tab-container">
           <div class="tab" (click)="toggleTabContentShipping()">
             <span class="tab-title">Shipping & Return</span>
             
             <i class="fas" [ngClass]="{'fa-chevron-down': showTabContentShipping, 'fa-chevron-right': !showTabContentShipping}"></i>
           </div>
           <div class="tab-content" *ngIf="showTabContentShipping">
             
               <p>At Dracoss, we strive to ensure the utmost convenience and satisfaction for our
                 customers. We offer fast shipping within Tunisia, promising delivery within 48 hours.
                 For customers in the U.S., expect your package within one week of placing your
                 order. For other international locations, the delivery will be at your doorstep within
                 15 days.
                 We understand that sometimes a product may not meet your expectations or needs.
                 For such instances, we offer a generous return policy. If you are not completely
                 satisfied with your purchase, you may return it within 30 days for a full refund or
                 exchange. All returned items must be in their original condition and packaging.
                 
                 For more detailed information, please refer to our <a style="color: rgb(57, 161, 221);"  href="">Shipping Policy</a> &amp; <a style="color: rgb(57, 161, 221);" href="">Returns
                 Policy</a>.</p>
           </div>
         </div>

<div class="horizontal-line"></div>
     </div>

    
     

   </div>
   
  </div>
 </section> 
 
 
     
   
       


      <!--- ############ Footer Starts Here ################## -->




