


   
    <section class="bg-white">
        <div class="container-lg">
            <div class="div-title">
              <h2>Our Blogs</h2>
              <p>Keep Up with Our Newest Blog Articles.</p>
          </div>

        <div class="box-container">

            <div class="box shadow" *ngFor="let blog of liste ">

                <div class="image">
                    <img [src]="blog.imgSrc" alt="">
                    <div class="likes"><i class="bi bi-heart-fill"></i><p>{{blog.likes}}</p></div>
                </div>
                <div class="content">
                    <h5>{{blog.title}}</h5>
                    <p>{{blog.description}}...</p>
                    <a target="_blank" [href]="blog.link" class="btn">Read More</a>
                </div>

            </div>

        

            
        </div>
    </div>
    </section>
 
